{
    :objects {
        :User {
            :description "User"
            :fields {
                :id {:type (non-null String)}
                :name {:type (non-null String)}
                :email {:type (non-null String)}
                :emails {
                    :type (non-null (list String))
                    :resolve :user/emails}
                :permissions {
                    :type (non-null (list String))
                    :resolve :user/permissions}
            }
        }
        :Client {
            :description "Client"
            :fields {
                :id {:type (non-null String)}
                :name {:type (non-null String)}
                :added_by {
                    :type (non-null :User)
                    :resolve :user/added_by
                }
            }
        }
    }

    :queries {
        :current_user {
            :type :User
            :description "Get current user"
            :resolve :user/current
        }
    }
}